body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
}

section {
  background-color: white;
}

.hero {
  background-color: #1c1D25;
  height: 100vh;
  color: white;
  font-size: 40px;
}

footer {
  background-color: #1c1D25;
  color: white;
  text-align: center;
  padding: 80px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  width: 500px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 25px;
}

ul.show {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

li {
  text-decoration: none;
}

h1 {
  font-size: 90px;
  margin: 0px;
}

h2 {
  font-size: 50px;
}

.hero_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_text {
  margin-left: 80px;
  margin-bottom: 170px;
}

p {
  margin: 0px;
  font-size: 20px;
  font-weight: 300;
}

.subtext {
  font-size: 15px;
  font-weight: 300;
}

.button {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  background-color: #614f84;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: #4c229c;
}

.button:active {
  background-color: #A9A9A9;
  color: 808080;
}

.socials {
  padding-bottom: 200px;
}

.logo {
  height: 100px;
  margin: 20px;
}

.social {
  margin: 10px;
}

.sub-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 80px;
}

.sub-section-alternative {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 80px;
}

.headshot {
  width: 200px;
  border-radius: 150px;
  margin-left: 80px;
  padding-top: 80px;
}

.headshot-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project_card {
  width: 300px;
  height: 500px;
  -webkit-box-shadow: 5px 5px 20px gray;
          box-shadow: 5px 5px 20px gray;
  margin: 10px;
}

.project_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.project-images {
  margin-top: 25px;
  width: 250px;
  border-radius: 125px;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration: none;
  color: #614f84;
}

a {
  text-decoration: none;
  color: white;
}

.hamburger {
  display: none;
}

.hamburger:focus {
  outline: 0;
}

@media screen and (max-width: 1000px) {
  .project_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer {
    background-color: #1c1D25;
    color: white;
    text-align: center;
    padding: 10px;
  }
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 50px;
  }
  .logo {
    display: none;
  }
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  ul {
    display: none;
    background-color: #1c1D25;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    background-color: #1c1D25;
  }
  p {
    font-size: 15px;
  }
  .button {
    width: 150px;
    height: 30px;
    border-radius: 30px;
    background-color: #614f84;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 19px;
  }
  .headshot-container {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */